@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  font-family: "Nunito";
  box-sizing: border-box;
}

body {
  background-image: url("/img/background.png");
  background-position: 52% 22%;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

